!!!
html
  head
    title
      | Chris Wagner's Blog
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    header
      h1
        a(href='/')
          | ChrisWagnerBlog.com
    .content
      block content
    .sidebar
      aside
        h1 Categories
        ul.categories
          - each cat in categoryList
            li
              a(href=categoryUrl(cat)) #{cat}
      aside
        h1 Tags
        ul.tags
          - each tag in tagList
            li
              a(href=tagUrl(tag)) #{tag}
