!!!
html
  head
    title
      block title
      | Chris Wagner's Blog
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css')'
    | <!--[if lt IE 9]>
    | <script src="js/html5shiv.js"></script>
    | <script src="js/respond.min.js"></script>
    | <![endif]-->
    include includes/mixins
    block head
  body(itemscope,itemtype="http://schema.org/Blog")
    header
      h1
        a(href='/')
          | Chris Wagner's Blog
    .content
      block content
    .sidebar
      aside.bio
        h1
          span.icon-star.icon
          | Bio
        p
          | I'm Chris Wagner, a software developer working in <a href="http://www.telerik.com" rel="crush">Telerik</a>'s <a href="http://www.telerik.com/services/overview.aspx">Services Team</a>.
        p
          | As it would happen, my day job and my hobbies intersect very nicely.
        p.social
          a(rel="me",href="https://twitter.com/chris_a_wagner")
            span.icon.icon-twitter
            |@chris_a_wagner
      //- aside
      //-   h1
      //-     span.icon-folder-open.icon
      //-     | Categories
      //-   ul
      //-     - each cat in categoryList
      //-       li
      //-         a(href=categoryUrl(cat)) #{cat}
      aside
        h1
          span.icon-tags.icon
          | Tags
        ul.tags
          - each tag in tagList
            li
              a(href=tagUrl(tag)) #{tag}
      aside
        h1
          span.icon-user.icon
          | Blogroll
        ul
          li
            a(href="http://ardalis.com/") Steve Smith
          li
            a(href="http://brendan.enrick.com/") Brendan Enrick
    footer
      p Copyright &copy; 2013 Chris Wagner.
      p Powered by <a href="http://jsantell.github.com/poet/">Poet</a>.
      p Background by <a href="http://subtlepatterns.com/">Subtle Patterns</a>.