extends layout

block title
    | #{post.title} - #{' '}

block head
    link(rel="canonical",href="http://chriswagnerblog.com#{post.url}")

block content
    include includes/post
    .comments
        include includes/disqus