body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #aab;
  line-height: 150%;
}
@media screen and (min-width: 1000px) {
  body {
    width: 900px;
    margin: auto;
    padding: 50px;
  }
  .content {
    width: 700px;
    float: left;
  }
  .sidebar {
    width: 180px;
    float: right;
    padding-left: 20px;
  }
  .sidebar aside h1 {
    font-size: 16px;
  }
}
ul.tags {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
ul.tags li {
  display: inline;
  padding: 4px;
  margin: 4px;
  background-color: #ffe;
  list-style-type: none;
}
ul.tags li a {
  text-decoration: none;
}
.post {
  background-color: #ddd;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.post header {
  margin-bottom: 15px;
}
.post header h1 {
  color: #368;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}
.post header a {
  color: #368;
  text-decoration: none;
}
.post footer {
  font-size: 12px;
}
.post footer span.label {
  font-variant: small-caps;
}
.post footer ul.tags {
  display: inline;
}
.post time {
  font-variant: small-caps;
  font-size: 12px;
  color: #29526d;
}
