header-color = rgb(60, 150, 250)
link-color = rgb(40, 80, 160)
page-background-color = rgb(15, 30, 80)
tag-color = #ffe
icon-spacing = 6px
small-font-size = 12px
text-color = #444

no-margin-padding()
    padding: 0
    margin: 0

label()
    font-size: small-font-size
    color: lighten(text-color, 50%)

body
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif
    background-color: white
    color: text-color

a
    color: link-color
a:visited
    color: darken(saturate(link-color, 30%), 30%)
a:hover
    color: lighten(saturate(link-color, 30%), 30%)

body>header
    padding-top: 1em
    h1
        font-size: 1.4em
        a
            color: rgb(80, 180, 240)
            text-decoration: none

body>.content>h2
    color: rgb(60, 200, 250)

body>footer
    clear: both
    text-align: center
    font-size: small-font-size
    p
        no-margin-padding()

.sidebar aside
    padding-bottom: 0.5em
    h1
        font-size: 16px
        color: rgb(60, 200, 250)
        span.icon
            color: rgb(60, 150, 250)
    p
        font-size: small-font-size
    span.icon
        padding-right: icon-spacing
        font-size: 16px
    ul
        margin: 0
        font-size: 13px
    ul:not(.tags)
        padding-left: 30px
    .social
        padding-left: icon-spacing
        a
            text-decoration: none

@media screen and (max-width: 900px)
    .sidebar
        padding: 0.5em
        margin: 0.5em
    .comments
        display: none


@media screen and (min-width: 900px)
    body
      width: 900px
      margin: 0 auto
      padding: 0

    .content
        width: 700px
        float: left

    .sidebar
        width: 180px
        float: right


ul.tags
    no-margin-padding()
    font-size: small-font-size
    display: inline
    li
        display: inline
        padding: 4px
        margin: 4px
        list-style-type: none
        margin-right: icon-spacing

.post
    background-color: #eee
    margin: 1em auto
    padding: 1.5em

    line-height: 150%

    img
        max-width: 100%

    header
        h1
            no-margin-padding()
            margin-bottom: 0.5em
        a:link,a:visited
            color: header-color
            text-decoration: none
        margin-bottom: 1em

    footer
        font-size: small-font-size

    .icon-calendar
        font-size: small-font-size
        margin-right: icon-spacing
    time
        label()

.comments
    background-color: #ccc
    padding: 20px

.pagination
    ul
        display: inline
        list-style-type: none
        margin: 0
        padding-left: icon-spacing
    li
        display: inline
    li a
        display: inline-block
        font-size: 16px
        background-color: #eee
        border: 1px solid #ddd
        padding: icon-spacing
    li.active a
        border: 1px solid #888
        font-weight: bold
        text-decoration: none