body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #0f1e50 url("../images/irongrip.png");
}
body>header h1 a {
  color: #50b4f0;
  text-decoration: none;
}
body>.content a {
  color: #2850a0;
}
body>.content a:visited {
  color: #0f347d;
}
body>.content a:hover {
  color: #3e76e7;
}
body>.content>h2 {
  color: #3cc8fa;
}
body>footer {
  clear: both;
  text-align: center;
  font-size: 12px;
  color: #ddd;
}
body>footer p {
  padding: 0;
  margin: 0;
  color: #eee;
}
body>footer p a:link {
  color: #fff;
}
body>footer p a:hover {
  color: #abbad7;
}
body>footer p a:visited {
  color: #c0c0c0;
}
.sidebar aside {
  padding-bottom: 0.5em;
}
.sidebar aside h1 {
  font-size: 16px;
  color: #3cc8fa;
}
.sidebar aside h1 span.icon {
  color: #3c96fa;
}
.sidebar aside p {
  color: #eee;
  font-size: 12px;
}
.sidebar aside p a:link {
  color: #fff;
}
.sidebar aside p a:hover {
  color: #abbad7;
}
.sidebar aside p a:visited {
  color: #c0c0c0;
}
.sidebar aside span.icon {
  padding-right: 6px;
  font-size: 16px;
}
.sidebar aside ul {
  color: #eee;
  margin: 0;
  font-size: 13px;
}
.sidebar aside ul a:link {
  color: #fff;
}
.sidebar aside ul a:hover {
  color: #abbad7;
}
.sidebar aside ul a:visited {
  color: #c0c0c0;
}
.sidebar aside ul:not(.tags) {
  padding-left: 30px;
}
.sidebar aside .social {
  padding-left: 6px;
}
.sidebar aside .social a {
  text-decoration: none;
}
@media screen and (max-width: 900px) {
  header {
    width: 90%;
  }
  .post {
    width: 90%;
  }
  .sidebar {
    background-color: #222733;
    padding: 0.5em;
    margin: 0.5em;
  }
  .comments {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  body {
    width: 900px;
    margin: 0 auto;
    padding: 0;
  }
  .content {
    width: 700px;
    float: left;
  }
  .sidebar {
    width: 180px;
    float: right;
  }
}
ul.tags {
  padding: 0;
  margin: 0;
  font-size: 12px;
  display: inline;
}
ul.tags li {
  display: inline;
  padding: 4px;
  margin: 4px;
  list-style-type: none;
  margin-right: 6px;
}
.post {
  background-color: #ddd;
  margin: 1em auto;
  padding: 1.5em;
  border-radius: 10px;
  border-left: 4px solid #2878dc;
  line-height: 150%;
}
.post img {
  max-width: 100%;
}
.post header {
  margin-bottom: 1em;
}
.post header h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
}
.post header a:link,
.post header a:visited {
  color: #3c96fa;
  text-decoration: none;
}
.post footer {
  font-size: 12px;
}
.post .icon-calendar {
  font-size: 12px;
  margin-right: 6px;
}
.post time {
  font-size: 12px;
  color: #0676f2;
}
.comments {
  background-color: #ccc;
  padding: 20px;
}
.pagination {
  color: #eee;
}
.pagination a:link {
  color: #fff;
}
.pagination a:hover {
  color: #abbad7;
}
.pagination a:visited {
  color: #c0c0c0;
}
.pagination ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding-left: 6px;
}
.pagination li {
  color: #eee;
  display: inline;
}
.pagination li a:link {
  color: #fff;
}
.pagination li a:hover {
  color: #abbad7;
}
.pagination li a:visited {
  color: #c0c0c0;
}
.pagination li a {
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  background-color: #333;
  padding: 6px;
}
.pagination li.active a {
  background-color: #555;
  text-decoration: none;
}
