header-color = rgb(60, 150, 250)
link-color = rgb(40, 80, 160)
page-background-color = rgb(15, 30, 80)
tag-color = #ffe
icon-spacing = 6px
small-font-size = 12px

no-margin-padding()
    padding: 0
    margin: 0

dark-bg()
    color: #eee
    a:link
        color: white
    a:hover
        color: lighten(desaturate(link-color, 40%), 60%)
    a:visited
        color: silver

label()
    font-variant: small-caps
    font-size: small-font-size
    color: darken(header-color, 20%)

body
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif
    background: page-background-color url('../images/irongrip.png')

body>header
    h1
        a
            color: rgb(80, 180, 240)
            text-decoration: none

body>.content
    a
        color: link-color
    a:visited
        color: darken(saturate(link-color, 30%), 30%)
    a:hover
        color: lighten(saturate(link-color, 30%), 30%)

body>footer
    clear: both
    text-align: center
    font-size: small-font-size
    color: #ddd
    p
        no-margin-padding()
        dark-bg()

@media screen and (min-width: 1000px)
    body
      width: 900px
      margin: 0 auto
      padding: 0

    .content
        width: 700px
        float: left

    .sidebar
        width: 180px
        float: right

        aside
            h1
                font-size: 16px
                color: rgb(60, 200, 250)
                span.icon
                    color: rgb(60, 150, 250)
            p
                dark-bg()
                font-size: small-font-size
        span.icon
            padding-right: icon-spacing
            font-size: 16px
        ul.categories
            dark-bg()
            margin: 0
            font-size: 13px
            padding-left: 30px
        .social
            padding-left: icon-spacing
            a
                text-decoration: none


ul.tags
    no-margin-padding()
    font-size: small-font-size
    li
        display: inline
        padding: 4px
        margin: 4px
        background-color: tag-color
        list-style-type: none
        a
            text-decoration: none
            color: black

.post
    background-color: #ddd
    margin: 15px auto
    padding: 20px
    border-radius: 10px
    border-left: 4px solid rgb(40, 120, 220)

    max-width: 700px
    line-height: 150%

    img
        max-width: 100%

    header
        h1
            no-margin-padding()
            margin-bottom: 5px
        a:link,a:visited
            color: header-color
            text-decoration: none
        margin-bottom: 15px

    footer
        font-size: small-font-size
        span.label
            label()
        ul.tags
            display: inline

    .icon-calendar
        font-size: small-font-size
        margin-right: icon-spacing
    time
        label()

ul.pagination
    display: inline
    list-style-type: none
    no-margin-padding()

    li
        dark-bg()
        display: inline-block
    .active a
        text-decoration: none