body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #0f1e50 url("../images/irongrip.png");
}
body>header h1 a {
  color: #50b4f0;
  text-decoration: none;
}
body>.content a {
  color: #2850a0;
}
body>.content a:visited {
  color: #0f347d;
}
body>.content a:hover {
  color: #3e76e7;
}
body>footer {
  clear: both;
  text-align: center;
  font-size: 12px;
  color: #ddd;
}
body>footer p {
  padding: 0;
  margin: 0;
  color: #eee;
}
body>footer p a:link {
  color: #fff;
}
body>footer p a:hover {
  color: #abbad7;
}
body>footer p a:visited {
  color: #c0c0c0;
}
@media screen and (min-width: 1000px) {
  body {
    width: 900px;
    margin: 0 auto;
    padding: 0;
  }
  .content {
    width: 700px;
    float: left;
  }
  .sidebar {
    width: 180px;
    float: right;
  }
  .sidebar aside h1 {
    font-size: 16px;
    color: #3cc8fa;
  }
  .sidebar aside h1 span.icon {
    color: #3c96fa;
  }
  .sidebar aside p {
    color: #eee;
    font-size: 12px;
  }
  .sidebar aside p a:link {
    color: #fff;
  }
  .sidebar aside p a:hover {
    color: #abbad7;
  }
  .sidebar aside p a:visited {
    color: #c0c0c0;
  }
  .sidebar span.icon {
    padding-right: 6px;
    font-size: 16px;
  }
  .sidebar ul.categories {
    color: #eee;
    margin: 0;
    font-size: 13px;
    padding-left: 30px;
  }
  .sidebar ul.categories a:link {
    color: #fff;
  }
  .sidebar ul.categories a:hover {
    color: #abbad7;
  }
  .sidebar ul.categories a:visited {
    color: #c0c0c0;
  }
  .sidebar .social {
    color: #eee;
  }
  .sidebar .social a:link {
    color: #fff;
  }
  .sidebar .social a:hover {
    color: #abbad7;
  }
  .sidebar .social a:visited {
    color: #c0c0c0;
  }
  .sidebar .social a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 150%;
    margin-left: 12px;
  }
}
ul.tags {
  padding: 0;
  margin: 0;
  font-size: 12px;
}
ul.tags li {
  display: inline;
  padding: 4px;
  margin: 4px;
  background-color: #ffe;
  list-style-type: none;
}
ul.tags li a {
  text-decoration: none;
  color: #000;
}
.post {
  background-color: #ddd;
  margin: 15px auto;
  padding: 20px;
  border-radius: 10px;
  border-left: 4px solid #2878dc;
  max-width: 700px;
  line-height: 150%;
}
.post img {
  max-width: 100%;
}
.post header {
  margin-bottom: 15px;
}
.post header h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}
.post header a:link,
.post header a:visited {
  color: #3c96fa;
  text-decoration: none;
}
.post footer {
  font-size: 12px;
}
.post footer span.label {
  font-variant: small-caps;
  font-size: 12px;
  color: #0676f2;
}
.post footer ul.tags {
  display: inline;
}
.post .icon-calendar {
  font-size: 12px;
  margin-right: 6px;
}
.post time {
  font-variant: small-caps;
  font-size: 12px;
  color: #0676f2;
}
ul.pagination {
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.pagination li {
  color: #eee;
  display: inline-block;
}
ul.pagination li a:link {
  color: #fff;
}
ul.pagination li a:hover {
  color: #abbad7;
}
ul.pagination li a:visited {
  color: #c0c0c0;
}
ul.pagination .active a {
  text-decoration: none;
}
