header-color = #d00

body
  padding: 50px
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: #eee

.post
    background-color: white
    padding: 20px
    border-radius: 10px

    header
        h1
            color: header-color
            margin: 0
            padding: 0
        a
            color: header-color
            text-decoration: none

    time
        font-variant: small-caps
        font-size: 12px
        color: darken(header-color, 20%)